{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}




{{ this.registerJs("CardController();") }}

{% set limit = 10 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set events = _Event.getEvents() %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}

<main id="main" class="channel_container channel-main" role="main">
    <div class="container-fluid">
        <section class="row">
            <div class="col-md-12 section-header">
                <h2 class="header__heading">National</h2>
            </div>
        </section>

        <section class="row">
            {% if articles[articleCount] %}
                {% set articleView = [
                'card7-desktop card7-mobile',
                'card2-desktop card2-mobile',
                'card3-desktop card3-mobile',
                'card3-desktop card3-mobile',
                'card4-desktop card4-mobile',
                'card4-desktop card4-mobile',
                'card4-desktop card4-mobile',
                'card4-desktop card4-mobile',
                'card4-desktop card4-mobile',
                'card4-desktop card4-mobile',
                'card4-desktop card4-mobile',
                'card4-desktop card4-mobile'
                ] %}
                {% for key, value in articleView if articles[key] %}
                    {{ this.render('partials/_single-article.twig', {
                        article: articles[articleCount],
                        position: articleCount + 1,
                        containerClass: 'testing ' ~ value
                    }) | raw }}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                {% endfor %}
            {% endif %}
        </section>
    </div>
</main><!-- .site-main -->