$height: 900px;
$mobileHeight: 351px;

body.article {
    background: #fff;

    .hero-banner {
        margin-top: $grid-gutter-width /2;
        margin-bottom: $grid-gutter-width /2;

        height: $height;
        .card {
            height: $height;
            display: block;
            figure {
                height: $height;
                picture {
                    height: $height;
                    img {
                        height: $height;
                    }
                }
            }
        }

        @media screen and (max-width: $sm-break) {
            height: $mobileHeight;
            .card {
                height: $mobileHeight;
                display: block;
                figure {
                    height: $mobileHeight;
                    picture {
                        height: $mobileHeight;
                        img {
                            height: $mobileHeight;
                        }
                    }
                }
            }
        }

        .hero-banner-article {
            figure {
                z-index: 2;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0));
                    z-index: 10;
                }

                picture {
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
                        opacity: .6;
                        z-index: 10;
                    }
                }

                img {
                    object-fit: cover;
                    width: 100%;
                }

                .container-fluid {
                    position: relative;
                }

                figcaption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: rgb(255,255,255);
                    z-index:30;
                    padding: 15px 25px;
                    font-size: 14px;
                    font-family: $font-family-secondary;
                    width: 280px;

                    @media screen and (max-width: $sm-break) {
                        margin-bottom: 0;
                        width: auto;
                        right: 0;

                    }
                    @media screen and (min-width: $sm-break) and (max-width: $md-break) {
                        left: 20px;
                        right: 20px;
                    }
                }
            }
        }
    }

}

.article {
    @media screen and (min-width: $sm-break) {
        .rightBorder:after {
            content: " ";
            border-right: 1px solid rgb(151, 153, 156);
            position: absolute;
            top: 0;
            right: -8%;
            bottom: 0;
        }
    }

    div.social-share {
        width: 172px;
        height: 38px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #39bddc;

        @media screen and (max-width: $mobile-break) {
            left: 0;
            width: 100%;
        }

        > .links {
            height: 100%;
            margin: 0 auto;
            width: 175px;
        }
    }

    article.page-hero {
        .featured {
            position: relative;
            height: 572px;

            > img {
                width: 100%;
                height: 572px;

            }

        }
    }

    article.article-main {
        margin-bottom: 96px;

        .page-content {
            clear: both;
            font-size: rem(17);
            font-weight: normal;
            font-family: $font-family-primary;

            line-height: 1.88;
            letter-spacing: 0.9px;

            @media screen and (max-width: $sm-break) {
                margin-top: 15px;
            }

            .content-block-top {
                margin-bottom: 17px;

                h1 {

                    font-size: rem(58);
                    font-weight: bold;
                    line-height: 1.21;
                    letter-spacing: 1.2px;
                    margin-top: 0;
                    margin-bottom: 0;
                    color: rgb(0, 0, 0);
                    font-family: $font-family-secondary;
                    text-transform: uppercase;

                    @media screen and (max-width: $sm-break) {
                        margin-top: 20px;
                        font-size: rem(25px);
                        line-height: 1.16;
                        letter-spacing: 0.5px;
                    }
                    @media screen and (max-width: $mobile-break) {

                    }
                }
                h2 {
                    font-size: rem(12);
                    font-weight: bold;
                    line-height: 1;
                    letter-spacing: 0.5px;
                    margin-top: 10px;
                    color: rgb(0, 0, 0);
                    font-family: $font-family-primary;
                    font-weight: 500;

                    @media screen and (max-width: $mobile-break) {
                        margin-top: 5px;
                        font-size: 12px;
                        letter-spacing: 0.5px;

                    }

                }
                .category {
                    font-size: rem(12px);
                    font-weight: bold;
                    letter-spacing: 0.5px;
                    color: rgb(247, 61, 48);

                }
                p.author {
                    font-family: $font-family-primary;
                    font-size: rem(14);
                    font-weight: bold;
                    line-height: 1.67;
                    color: #333333;
                }

                p.bio {
                    margin-bottom: 20px;
                    font-size: rem(16);
                    font-style: italic;
                    line-height: 1.29;

                    @media screen and (max-width: $mobile-break) {
                        font-size: rem(14);
                    }

                }

                div.time_to_read {
                    border-top: 1px solid #979797;
                    border-bottom: 1px solid #979797;
                    padding-top: 5px;
                    height: 48px;

                    > img {
                        height: 24px;
                        width: 24px;
                    }
                    > p {
                        display: inline-block;
                        font-family: $font-family-primary;
                        font-size: rem(14);
                        font-style: italic;
                        line-height: 1.25;
                        color: #333333;
                        margin-left: 8px;
                    }
                }

            }

            .article_content {
                margin-top: 45px;
                > {
                    & span, u, p, ul, li, strong, b, h1, h2, h3, h4, h5, h6, figure, figcaption, img, blockquote {
                        &[style] {
                            font-size: inherit !important;
                            font-weight: inherit !important;
                            line-height: inherit !important;
                            font-family: inherit !important;
                            letter-spacing: inherit !important;
                        }
                    }
                }
                .pdf-link {
                    color: #8a8b93;
                    font-family: $font-family-primary;
                    font-size: rem(14);
                    letter-spacing: 0.4px;
                    font-weight: 700;

                }
                a {
                    color: #f08b56;
                    font-family: $font-family-primary;
                    @media screen and (max-width: $sm-break) {
                        word-wrap: break-word;
                    }

                }

                @media screen and (min-width: $sm-break) {
                    figure {
                        margin: 50px 0;
                        position: relative;
                        img {
                            float: left;
                            width: 50%;
                            height: auto;
                        }
                        figcaption {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 40%;
                            font-size: rem(14px);
                            font-family: $font-family-secondary;
                            line-height: 1.53;
                            color: rgb(110, 110, 110);



                        }
                        &:after {
                            content: "";
                            display: table;
                            clear: both;
                        }
                    }
                }

                @media screen and (max-width: $sm-break) {
                    figure {
                        img {
                            width: 100%;
                            height: auto;
                        }
                        figcaption {
                            font-size: rem(13px);
                            font-family: $font-family-secondary;
                            line-height: 1.38;
                            color: rgb(110, 110, 110);
                        }
                    }
                }

                p {
                    font-size: rem(16);
                    font-weight: 300;
                    font-family: $font-family-primary;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.63;
                    letter-spacing: normal;
                    color: rgba(0, 0, 0, 0.8);
                    padding-right: 10px;
                    clear: both;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    @media screen and (max-width: $sm-break) {
                    }
                }

                li {
                    font-size: rem(16);
                    font-weight: 300;
                    font-family: $font-family-primary;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.8;
                    letter-spacing: normal;
                    color: #1c2a38;
                    padding-right: 10px;
                    clear: both;
                    margin-bottom: 20px;
                    margin-top: 10px;
                }

                blockquote {
                    padding: 0;
                    font-weight: bold;
                    font-family: $font-family-secondary;
                    border: 0;
                    line-height: 1.36;

                    // margin-bottom:50px;
                    @media screen and (max-width: $sm-break) {
                        padding-left: 0;

                    }

                    &:after {
                        width: 48px;
                        height: 2px;
                        background: rgb(247, 61, 48);
                        display: block;
                        content: '';
                        // margin-bottom: 28px;
                        // margin-top: 22px;
                    }
                    @media screen and (max-width: $sm-break) {
                        font-size: rem(22);
                    }

                    > p {
                        font-size: rem(28px);
                        line-height: 1.36;
                        font-weight: 600;
                        letter-spacing: 1.2px;
                        text-transform: uppercase;
                        font-family: $font-family-secondary;
                        color: rgb(0, 0, 0);

                        @media screen and (max-width: $sm-break) {
                            padding-left: 0;
                        }
                    }
                }
                h1 {
                    color: rgba(0, 0, 0, 0.8);
                    font-size: rem(20);
                    margin-top: 19px;
                    letter-spacing: 0.8px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                h2 {
                    color: rgba(0, 0, 0, 0.8);
                    font-size: rem(18);
                    margin-top: 19px;
                    letter-spacing: 0.8px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                h3 {
                    color: rgba(0, 0, 0, 0.8);
                    font-size: rem(16);
                    line-height: 1.63;
                    font-weight: 700;
                    letter-spacing: normal;
                    text-transform: uppercase;
                }
                h4 {
                    font-size: rem(14);
                    color: #687085;
                    font-style: italic;
                    font-weight: 700;
                    line-height: 1.57;
                    letter-spacing: normal;
                }
                hr {
                    border-top: solid 1px #d9d9d6;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                ul {
                    @media screen and (max-width: $sm-break) {
                        margin-left: -15px;
                    }
                }
            }

        }

        .artcle__related-title {
            font-size: rem(30px);
            letter-spacing: 0.6px;
            line-height: 1.33;
            font-family: $font-family-secondary;
            font-weight: 600;
            text-transform: uppercase;
            color: rgb(0, 0, 0);
            @include headingDash(17px);
        }

        .related-articles {
            margin-top: 105px;
            margin-bottom: 78px;
            width: 1070px;
            padding-left: 50px;

            @media screen and (max-width: $md-break) {
                width: auto;
                padding-left: 0;
                margin-bottom: 25px;

            }

            section > h2 {
                font-family: $font-family-primary;
                text-align: center;
                font-size: rem(17);
                font-weight: bold;
                font-style: normal;
                margin-bottom: 48px;

                @media screen and (max-width: $mobile-break) {
                    margin-bottom: 15px;
                }

            }

            a.card {
                height: 334px;

                > article {

                    > figure {
                        height: 209px;

                        @media screen and (max-width: $mobile-break) {
                            height: 115px;
                        }

                        > img {
                            max-width: 100%;
                        }
                    }

                    > .content {
                        border: 1px solid #979797;
                        border-top: none;
                        @media screen and (max-width: $mobile-break) {
                            border-top: 1px solid #6b6d71;
                            border-left: none;
                            border-right: none;
                        }

                        time {
                            font-family: $font-family-primary;
                            font-size: 12px;
                            font-style: italic;
                            line-height: 1.25;
                            color: #333333;
                        }

                    }
                }

                &.without__image {
                    border-top: 1px solid #979797;
                }
            }
        }
    }

    .page-add {
        text-align: center;
        margin-bottom: 70px;
        @media screen and (max-width: $mobile-break) {
            margin-bottom: 0;
        }

        img {
            margin-left: auto;
            margin-right: auto;
        }

        .add-text {
            width: 970px;
            text-align: right;
            display: block;
            margin-left: auto;
            margin-right: auto;
            @media screen and (max-width: $md-break) {
                width: 100%;
            }
        }
    }

    .featured {
        position: relative;
    }

    .btn-post {
        width: 43px;
        height: 100%;
        background-image: url('../images/facebook.svg');
        background-position: center;
        background-repeat: no-repeat;
        color: #FFF;
        text-transform: uppercase;
        font-size: rem(19);
        font-weight: bold;
        border: 0;
        padding: 0;
        // margin-right:2px;

        &:hover,
        &:focus {
            color: #FFF;
        }
    }

    .btn-tweet {
        width: 43px;
        height: 100%;
        background-image: url('../images/twitter.svg');
        background-position: center;
        background-repeat: no-repeat;
        color: #FFF;
        text-transform: uppercase;
        font-size: rem(22);
        font-weight: bold;
        border: 0;
        padding: 0;
        // margin-right:2px;

        &:hover,
        &:focus {
            color: #FFF;
        }
    }

    .btn-vimeo {
        width: 43px;
        height: 100%;

        background-image: url('../images/vimeo.svg');
        background-position: center;
        background-repeat: no-repeat;
        color: #FFF;
        text-transform: uppercase;
        font-size: rem(19);
        font-weight: bold;
        border: 0;
        padding: 0;
        // margin-right:2px;

        &:hover,
        &:focus {
            color: #FFF;
        }
    }

    .btn-instagram {
        width: 43px;
        height: 100%;
        background-image: url('../images/instagram.svg');
        background-position: center;
        background-repeat: no-repeat;
        color: #FFF;
        text-transform: uppercase;
        font-size: rem(19);
        font-weight: bold;
        border: 0;
        padding: 0;

        &:hover,
        &:focus {
            color: #FFF;
        }
    }

    .btn-email {
        width: 44px;

        // background-color: #717171;
        color: #FFF;
        text-transform: uppercase;
        font-size: rem(16);
        font-weight: bold;
        border: 0;
        padding: 0;

        &:hover,
        &:focus {
            color: #FFF;
        }
    }

    .featured .video-overlay .icons .icon {
        width: 60px;
        height: 60px;
        position: absolute;
        line-height: 60px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        /* Chrome, Safari, Opera */
        -moz-transform: translate(-50%, -50%);
        /* Mozilla Firefox */
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        /* IE 9 */
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
    }

    .featured .video-overlay .icons .icon:hover {
        border: 1px solid white;
        transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
    }

    .featured .video-overlay .icons .icon i {
        font-size: 28px;
        color: #ffffff;
        width: 100%;
        text-align: center;
        margin-left: 4px;
        line-height: 60px;
        height: 100%;
    }

}
