/* reset from content builder */
.row > * {
    min-height: 0;
}

html {
    font-size: 100%;
}

h1, h2 {
    margin: 0;
    font-weight: 300;
    font-family: $font-family-secondary;
}

.section-header {
    @media (max-width: $sm-break) {
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);
    }

    &:after {
        clear: both;
    }

    h2 {
        font-size: rem(30px);
        font-weight: 600;
        font-family: $font-family-secondary;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        @include headingDash;

        @media (max-width: $sm-break) {
            font-size: rem(20px);
            letter-spacing: 0.4px;
        }
    }
}

p {
    margin: 0;
}

body {
    // overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    color: color(dark);
    // background: #fff;
    font-family: $font-family-primary;

    // @media screen and (max-width: $sm-break){
    //     overflow-x: hidden;
    // }
}

main#main {
    margin-top: 60px;

    @media (max-width: $sm-break) {
        margin-top: 25px;
    }

    .hero-banner {
        margin-top: -60px;
    }

    .section-header {
        @media (min-width: $sm-break) {
            margin-bottom: $grid-gutter-width/2;
        }
    }
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
    }
}

hr.divide {
    margin-top: 28px;
    margin-bottom: 28px;
    border: 0;
    border-top: 1px solid color(lightgrey);
}

.ad-square {
    height: 250px;
    background: color(grey);
}

.ad-large-vert {
    height: 600px;
    background: color(grey);
}

._btn {
    border: 0;
    font-size: rem(10);
    font-weight: 700;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.search-icon {
    display: block;
    padding: 0;
    background-image: url(../icons/search-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 14px;
}

a.fancybox-close {
    z-index: 1 !important;
}

div.fancybox-title {
    display: none !important;
}

.loadMoreArticles {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    border: 1px solid #39bddc;
    width: 122px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #39bddc;

    @media screen and (min-width: $mmd-break) {
        position: relative;
        top: -20px;
    }

    @media screen and (max-width: $mmd-break) {
        margin: 0 auto 40px auto;
    }

}

button.bootbox-close-button {
    float: right;
    background: none;
    border: none;
}

h4.modal-title {
    margin-top: 10px;
    font-family: $font-family-primary;
}

// .container-fluid{
//     max-width: 1600px;
// }

.btn {
    font-size: rem(14);
    font-weight: 600;
    border-radius: 0;
    padding: 10px 9px;
    border-bottom: 2px solid $brand-secondary;
}

.btnFollowUser {
    font-size: rem(12px);
    font-weight: 600;
    background: rgb(0, 0, 0);
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    border-bottom: none;
    display: inline-block;
}

figcaption {
    margin-top: 10px;

    @media screen and (max-width: $sm-break) {
        float: left;
        margin-bottom: 30px;
    }

    > p {
        font-size: rem(12.5);
        color: #6c6c6c;
        font-style: italic;
        font-family: $base-font-family;
        float: left;

        &.credit {
            font-style: normal;
            float: right;

            @media screen and (max-width: $sm-break) {
                float: left;
            }
        }
    }
}

p.lead {
    font-size: rem(20);
    font-weight: bold;
    color: #4a4a4a;
}

span.leadsentence {
    font-weight: bold;
}